{
  "extends": ["plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "root": true,
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
